<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <!-- <add assembly="NLog.Mongo"/> -->
    </extensions>

    <!--<variable name="LogHome" value="/var/log/acorle"/>-->
    <variable name="LogHome" value="${basedir}/log"/>

    <targets>
        <target xsi:type="File" name="error" fileName="${LogHome}/error.log"
                archiveFileName="${LogHome}/archives/error.{###}.log"
                maxArchiveFiles="31"
                archiveEvery="Day"
                layout="${longdate} ${logger} ${aspnet-request-url}${newline}${uppercase:${level}}: ${message} ${exception:format=tostring}" />


        <target xsi:type="File" name="access" fileName="${LogHome}/access.log"
                archiveFileName="${LogHome}/archives/access.{###}.log"
                maxArchiveFiles="31"
                archiveEvery="Day"
                layout="${longdate} ${message} ${exception:format=tostring}" />

        <!-- <target xsi:type="Mongo" name="mongo" databaseName="NLog" collectionName="Test" connectionString="mongodb://localhost/NLog"/> -->
    </targets>


    <rules>
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="*" minlevel="Warn" writeTo="error" />
        <logger name="*.Controllers.ApiController" maxlevel="Info" writeTo="access" />
    </rules>
</nlog>
